.header {
  background-color: #1f2937;
  padding: 12px;
}

.hero,
.info,
.quote div,
.sign-up-call {
  width: 65%;
  margin: auto;
}

.nav-bar,
.intro {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.nav-bar img {
  max-width: 80px;
}

.nav-bar ul {
  list-style-type: none;
  display: flex;
  gap: 10px;
}

.intro img {
  width: 40%;
  min-width: 300px;
  margin: 32px;
}

.intro h1 {
  font-size: 48px;
  font-weight: bold;
  color: #f9faf8;
}

.sign-up-btn {
  background-color: #3882f6;
  border: none;
  width: 100px;
  height: 30px;
  color: white;
  border-radius: 5px;
  font-size: medium;
  font-weight: bold;
}

.info {
  padding: 32px;
  text-align: center;
}

.info h2 {
  font-size: 36px;
  font-weight: bold;
  color: #1f2937;
}

.card-collection {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding: 16px;
}

.card img {
  border: 3px solid #3882f6;
  border-radius: 15px;
  padding: 8px;
  width: 200px;
  height: 180px;
}

.card p {
  color: #a8aaad;
}

.quote {
  background-color: #e5e7eb;
  height: 300px;
}

.quote div {
  display: flex;
  flex-direction: column;
  padding: 24px;
}

.quote-p,
.author-p {
  font-size: 36px;
  color: #1f2937;
}

.quote-p {
  font-style: italic;
  margin-bottom: 0px;
}

.author-p {
  align-self: flex-end;
}

a {
  text-decoration: none;
  color: #e5e7eb;
}

p {
  color: #e5e7eb;
}

h,
p {
  font-family: 'Roboto', sans-serif;
}